# Eksa Framework Environment Variables
# Duplikat file ini menjadi .env dan isi dengan kredensial Anda.

# URI Koneksi MongoDB Atlas
# EKSA_MONGODB_URI="mongodb+srv://user:pass@cluster.mongodb.net/dbname"

# Secret untuk Session Cookie (Ganti dengan string acak yang panjang di production)
# SESSION_SECRET="pilih_string_acak_minimal_64_karakter"
